.projectsSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  background-color: #003865;
  inset: 0;
}

.projectsSection>h1 {
  font-size: 4rem;
  text-align: center;
  color: #ef5b0c;
  margin-top: 150px;
  margin-bottom: 35px;
  text-decoration: underline;
}

.projectsSection ul {
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  align-content: flex-start;
  height: 60vh;
}

.projectsSection li {
  list-style: none;
  padding: 15px;
  flex: 1;
  min-width: 50%;
}

.projectsSection a {
  text-decoration: none;
  color: white;
}

.projectsSection a:hover {
  text-decoration: none;
  color: #ef5b0c;
}

.projectsSection a h1 {
  font-size: 2rem;
}

.projectsSection a p {
  font-size: 1.2rem;
}