.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbarHide {
  top: -73px;
}

.navList {
  display: flex;
  justify-content: flex-end;
  color: #ef5b0c;
  list-style: none;
  margin-top: 25px;
  margin-right: 25px;
}

.navItem {
  counter-increment: item 1;
}

.navItem::before {
  content: "0" counter(item) ".";
  font-size: 1.2rem;
  margin-right: 15px;
}

.navList a {
  color: #ef5b0c;
  margin-right: 25px;
  font-size: 1.2rem;
  text-decoration: none;
}

.moncv {
  display: flex;;
  text-decoration: none;
  color: #ef5b0c;
  border: 2px solid #ef5b0c;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 35px;
  width: 5rem;
  height: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
}